<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
    <ul>
        <li><a th:href="@{/list}">Lister les entrées</a></li>
        <li><a th:href="@{/creer}">Créer une entrée</a></li>
        <li><form th:action="@{/creerN}" method="POST">
            nombre d'entrées à créer : <input type="text" name="n"/> <button>créer</button>
        </form> <em>échoue avec rollback si n >= 10</em></li>
    </ul>
</body>
</html>